body {
    font-family: 'Copse', serif;
    text-align: center;
}

div.picture-holder {
    box-sizing: border-box;
    width: 300px;
    height: 450px;
    float: left;
    border: solid 1px black;

}

div.favorite {
    width: 300px;
    height: 150px;
    background-color: darkslategray;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
}

#gallery {
    width: 900px;
    height: 1350px;
    border: solid 1px black;
    font-size: 0;
    margin: auto;
}