body {
    background-color: rgb(231, 95, 5);
    height: 1000px;
}

div.flexcontainer {
    size: 100vh;
}

div.gameContainer {
    width: 100%;

}

div.buttonContainer {
    width: 100%;

}

div.playerOne {
    display: block;
    background-color: sandybrown;
    width: 350px;
    height: 600px;
    float: left;
    margin-top: 50px;
    margin-left: 10px;
    padding-bottom: 130px;

}

div.playerTwo {
    display: block;
    background-color: sandybrown;
    width: 350px;
    height: 600px;
    float: right;
    margin-top: 50px;
    margin-right: 10px;
    padding-bottom: 130px;

}

div.boardPlusDice {
    display: block;
    background-color: #c8c6c6;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    float: left;
    margin-left: 65px;
    margin-top: 70px;
}

div.outerBoardRing {
    display: block;
    background-color: #acacac;
    width: 730px;
    height: 730px;
    border-radius: 50%;
    float: left;
    margin-left: 190px;
    margin-top: 30px;

}

div.rollButton {
    display: block;
    background-color: #d9bb34;
    color: black;
    border: 2px black;
    border-radius: 50%;
    text-align: center;
    float: left;
    width: 210px;
    height: 50px;
    margin-left: 100px;
    padding-top: 30px;
}

div.nextButton {
    display: block;
    background-color: #9d1919;
    color: black;
    border: 2px black;
    border-radius: 50%;
    text-align: center;
    float: left;
    width: 210px;
    height: 50px;
    margin-left: 500px;
    padding-top: 30px;
}

a.refresh {
    display: block;
    background-color: #d04b03;
    color: black;
    border: 2px black;
    border-radius: 50%;
    text-align: center;
    padding-top: 10px;
    float: right;
    width: 200px;
    height: 30px;
    margin-top: 100px;
}

p.one {
    display: block;
    background-color: #d04b03;
    color: black;
    border: 2px black;
    border-radius: 50%;
    text-align: center;
    padding-top: 10px;
    margin-left: 70px;
    width: 200px;
    height: 30px;
}

p.two {
    display: block;
    background-color: #d04b03;
    color: black;
    border: 2px black;
    border-radius: 50%;
    text-align: center;
    padding-top: 10px;
    margin-left: 70px;
    width: 200px;
    height: 30px;
}