* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-size: 16px;*/
}

html {
    background-color: rgb(231, 95, 5);
}

.flexcontainer {
    background-color: rgb(231, 95, 5);
    height: 100vh;
}

.playerOne {
    grid-area: playerOne;
}

.outerBoardRing {
    grid-area: outerBoardRing;
}
.dices {
    display: flex;
    flex-direction: column;
}
.playerTwo {
    grid-area: playerTwo;
}

.gameContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "buttonContainer buttonContainer buttonContainer buttonContainer buttonContainer"
    "playerOne playerOne outerBoardRing playerTwo playerTwo";
}

.buttonContainer {
    display: flex;
    gap: 1em;
    grid-area: buttonContainer;
    margin: auto;
    padding: 1em;
}

.rollButton {
    display: flex;
    background-color: #d9bb34;
    border: 2px black solid;
    /*border-radius: 0% 20% 0% 20%;*/
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1em;
    cursor: pointer;

}

div.rollButton:hover {
    background-color: #d0b010;
}

div.rollButton:active {
    background-color: #a08301;
    color: #cd6100;
}

.nextButton {
    display: flex;
    background-color: #9d1919;
    border: 2px black solid;
    /*border-radius: 50%;*/
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1em;
    cursor: pointer;
}

div.nextButton:hover {
    background-color: #9d0c0c;
}

div.nextButton:active {
    background-color: #960000;
}

div.playerTurnBox {
    display: flex;
    background-color: #9d0c0c;
    border: 3px solid #6d2803;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1em;
}

div.rulesButton {
    display: flex;
    background-color: limegreen;
    border: 2px black solid;
    /*border-radius: 50%;*/
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 1em;
    cursor: pointer;
}

div.rulesButton:hover {
    background-color: #12c412;
}

div.rulesButton:active {
    background-color: #009b00;
}

div#rulesTextBox {
    border: 3px solid black;
    background-color: #009b00;
    width: 500px;
    margin-top: 50px;
    float: left;
}

div#rulesTextBox p {
    font-size: 25px;
    color: black;
}

div#rulesExitBox {
    border: 1px solid black;
    background-color: darkred;
    width: 50px;
    height: 20px;
    float: right;
}

div#rulesExitBox:hover {
    background-color: #be0101;
}

div#rulesExitBox:active {
    background-color: #ee0202;
}

div#rulesExitBox p {
    font-size: 20px;
    margin: 0 0 0 1px;
}

div.infoButton {
    display: flex;
    background-color: dodgerblue;
    border: 2px black solid;
    /*border-radius: 50%;*/
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 1em;
    cursor: pointer;
}

div.infoButton:hover {
    background-color: #056ddb;
}

div.infoButton:active {
    background-color: #00519d;
}

div#infoTextBox {
    border: 3px solid black;
    background-color: #056ddb;
    width: 500px;
    margin-top: 50px;
    float: right;
}

div#infoTextBox p {
    font-size: 25px;
    color: black;
}

div#infoExitBox {
    border: 1px solid black;
    background-color: darkred;
    width: 50px;
    height: 20px;
    float: right;
}

div#infoExitBox:hover {
    background-color: #be0101;
}

div#infoExitBox:active {
    background-color: #ee0202;
}

div#infoExitBox p {
    font-size: 20px;
    margin: 0 0 0 1px;
}

.dices {
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
    margin: 1em 0;
}

#diceOne, #diceTwo, #diceThree, #diceFour, #diceFive {
    width: 50px;
    height: auto;
}

.playerOne {
    padding-right: 0.5em;
    background: linear-gradient(to right, sandybrown, #ef631d);
}

.playerTwo {
    padding-left: 0.5em;
    background: linear-gradient(to right, sandybrown, #ef631d);

}

.one {
    text-align: center;
    border: 1px solid black;
    background-color: #d04b03;
}

.two {
    text-align: center;
    border: 1px solid black;
    background-color: #d04b03;
}

.parts {
    border-bottom: 2px solid #d04b03;
    border-top: 2px solid #d04b03;
}

.bonus {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
    border-top: 2px solid #d04b03;
}

.playerOne input {
    float: right;
    height: 16px;
    margin-right: 2em;
    border: none;
    background-color: #d04b03;
    padding: 0.5em;
    font-size: 12px;
    line-height: 2px;
}

.playerTwo input {
    float: right;
    height: 16px;
    margin-right: 2em;
    border: none;
    background-color: #d04b03;
    padding: 0.5em;
    font-size: 12px;
    line-height: 2px;
}

.upperScorecard {
    display: flex;
    flex-direction: column;
    align-content: center;
    /*align-items: baseline;*/
    /*margin-left: 1em;*/
    /*margin-right: 2em;*/
    /*margin-top: 1em;*/
    margin: 0.5em 0.5em 0.5em 0.5em;
}

.lowerScorecard {
    display: flex;
    flex-direction: column;
    align-content: center;
    /*align-items: baseline;*/
    /*margin-left: 1em;*/
    /*margin-right: 2em;*/
    /*margin-top: 1em;*/
    margin: 0.5em 0.5em 0.5em 0.5em;
}

/* Tabllets */
@media only screen and (min-width: 768px) {
    .gameContainer {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
    "buttonContainer buttonContainer buttonContainer"
    "playerOne outerBoardRing playerTwo";
    }

    #diceOne, #diceTwo, #diceThree, #diceFour, #diceFive {
        width: 75px;
        height: auto;
    }
}

/* Laptop / PC */
@media only screen and (min-width: 1200px) {
    .rollButton {
        display: flex;
        background-color: #d9bb34;
        border: 2px black solid;
        /*border-radius: 0% 20% 0% 20%;*/
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 1em;
        cursor: pointer;
        border-radius: 50%;
    }

    .nextButton {
        display: flex;
        background-color: #9d1919;
        border: 2px black solid;
        /*border-radius: 50%;*/
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 1em;
        cursor: pointer;
        border-radius: 50%;
    }

    div.playerTurnBox {
        display: flex;
        background-color: #9d0c0c;
        border: 3px solid #6d2803;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 1em;
    }

    #currentTurn {
        font-size: 20px;
        color: black;
    }

    div.rulesButton {
        display: flex;
        background-color: limegreen;
        border: 2px black solid;
        /*border-radius: 50%;*/
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 1em;
        cursor: pointer;
        border-radius: 50%;
    }

    div.infoButton {
        display: flex;
        background-color: dodgerblue;
        border: 2px black solid;
        /*border-radius: 50%;*/
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 1em;
        cursor: pointer;
        border-radius: 50%;
    }


    .playerOne {
        font-size: 20px;
        margin-top: 100px;
    }

    .playerTwo {
        font-size: 20px;
        margin-top: 100px;
    }

    .playerOne input, .playerTwo input {
        font-size: 20px;
        cursor: copy;
        border: 1px solid #6d2803;
        background-color: #d04b03;
    }

    div.dices {
        /*position: absolute;*/
        display: grid;
        /*top: 135px;*/
        /*left: 695px;*/
        grid-template-columns: repeat(5, 75px);
        grid-template-rows: repeat(5, 75px);
        grid-gap: 5px 5px;
        padding-top: 40px;

    }
    div.dices img#diceOne {
        grid-row: 1 / 2;
        grid-column: 3 / 4;
        width: 75px;
        height: 75px;
        cursor: cell;
    }
    div.dices img#diceTwo {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
        width: 75px;
        height: 75px;
        cursor: cell;
    }
    div.dices img#diceThree {
        grid-row: 3 / 4;
        grid-column: 5 / 6;
        width: 75px;
        height: 75px;
        cursor: cell;
    }
    div.dices img#diceFour {
        grid-row: 5 / 6;
        grid-column: 2 / 3;
        width: 75px;
        height: 75px;
        cursor: cell;
    }
    div.dices img#diceFive {
        grid-row: 5 / 6;
        grid-column: 4 / 5;
        width: 75px;
        height: 75px;
        cursor: cell;
    }

    div.innerBoardRing {
        display: block;
        background-color: #c8c6c6;
        width: 500px;
        height: 500px;
        border-radius: 50%;
        /*float: left;*/
        margin-left: 65px;
        margin-top: 70px;
    }

    div.outerBoardRing {
        display: block;
        background-color: #acacac;
        width: 630px;
        height: 630px;
        border-radius: 50%;
        margin: auto;
        /*float: left;*/
        /*margin-left: 225px;*/
        margin-top: 100px;

    }
}


