* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-size: 16px;*/
}

.flexcontainer {
    background-color: rgb(231, 95, 5);
}

.playerOne {
    grid-area: playerOne;

}

.outerBoardRing {
    grid-area: outerBoardRing;
}
.dices {
    display: flex;
    flex-direction: column;
}
.playerTwo {
    grid-area: playerTwo;

}

.gameContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "buttonContainer buttonContainer buttonContainer buttonContainer buttonContainer"
    "playerOne playerOne outerBoardRing playerTwo playerTwo";
}

.buttonContainer {
    display: flex;
    gap: 1em;
    grid-area: buttonContainer;
    margin: auto;
    padding: 1em;
}

.rollButton {
    display: flex;
    background-color: #d9bb34;
    border: 2px black solid;
    /*border-radius: 0% 20% 0% 20%;*/
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1em;
    cursor: pointer;

}

.nextButton {
    display: flex;
    background-color: #9d1919;
    border: 2px black solid;
    /*border-radius: 50%;*/
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1em;
    cursor: pointer;
}

div.playerTurnBox {
    display: flex;
    background-color: #9d0c0c;
    border: 3px solid #6d2803;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1em;
}

div.rulesButton {
    display: flex;
    background-color: limegreen;
    border: 2px black solid;
    /*border-radius: 50%;*/
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 1em;
    cursor: pointer;
}

div.infoButton {
    display: flex;
    background-color: dodgerblue;
    border: 2px black solid;
    /*border-radius: 50%;*/
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 1em;
    cursor: pointer;
}

.dices {
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: center;
    padding: 1em 0;
    margin: 1em 0;
}

#diceOne, #diceTwo, #diceThree, #diceFour, #diceFive {
    width: 50px;
    height: auto;
}

.playerOne {
    background-color: sandybrown;
    padding-right: 0.5em;
    background: linear-gradient(to right, sandybrown, #cd5418);
}

.playerTwo {
    background-color: sandybrown;
    padding-left: 0.5em;
}

.one {
    text-align: center;
    border: 1px solid black;
    background-color: #d04b03;
}

.two {
    text-align: center;
    border: 1px solid black;
    background-color: #d04b03;
}

.parts {
    border-bottom: 2px solid #d04b03;
    border-top: 2px solid #d04b03;
}

.bonus {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
    border-top: 2px solid #d04b03;
}

.playerOne input {
    float: right;
    height: 16px;
    margin-right: 2em;
    border: none;
    background-color: #d04b03;
    padding: 0.5em;
    font-size: 12px;
    line-height: 2px;
}

.upperScorecard {
    display: flex;
    flex-direction: column;
    align-content: center;
    /*align-items: baseline;*/
    /*margin-left: 1em;*/
    /*margin-right: 2em;*/
    /*margin-top: 1em;*/
    margin: 0.5em 0.5em 0.5em 0.5em;
}

.lowerScorecard {
    display: flex;
    flex-direction: column;
    align-content: center;
    /*align-items: baseline;*/
    /*margin-left: 1em;*/
    /*margin-right: 2em;*/
    /*margin-top: 1em;*/
    margin: 0.5em 0.5em 0.5em 0.5em;
}

/* Tabllets */
@media only screen and (min-width: 768px) {
    .gameContainer {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
    "buttonContainer buttonContainer buttonContainer"
    "playerOne outerBoardRing playerTwo";
    }

    #diceOne, #diceTwo, #diceThree, #diceFour, #diceFive {
        width: 75px;
        height: auto;
    }
}

/* Laptop / PC */
@media only screen and (min-width: 1200px) {
    div.dices {
        /*position: absolute;*/
        display: grid;
        /*top: 135px;*/
        /*left: 695px;*/
        grid-template-columns: repeat(5, 75px);
        grid-template-rows: repeat(5, 75px);
        grid-gap: 5px 5px;
        padding-top: 40px;

    }
    div.dices img#diceOne {
        grid-row: 1 / 2;
        grid-column: 3 / 4;
        width: 75px;
        height: 75px;
        cursor: cell;
    }
    div.dices img#diceTwo {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
        width: 75px;
        height: 75px;
        cursor: cell;
    }
    div.dices img#diceThree {
        grid-row: 3 / 4;
        grid-column: 5 / 6;
        width: 75px;
        height: 75px;
        cursor: cell;
    }
    div.dices img#diceFour {
        grid-row: 5 / 6;
        grid-column: 2 / 3;
        width: 75px;
        height: 75px;
        cursor: cell;
    }
    div.dices img#diceFive {
        grid-row: 5 / 6;
        grid-column: 4 / 5;
        width: 75px;
        height: 75px;
        cursor: cell;
    }

    div.innerBoardRing {
        display: block;
        background-color: #c8c6c6;
        width: 500px;
        height: 500px;
        border-radius: 50%;
        /*float: left;*/
        margin-left: 65px;
        margin-top: 70px;
    }

    div.outerBoardRing {
        display: block;
        background-color: #acacac;
        width: 630px;
        height: 630px;
        border-radius: 50%;
        margin: auto;
        /*float: left;*/
        /*margin-left: 225px;*/
        /*margin-top: 30px;*/

    }
}


